<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>veri</servlet-name>
        <servlet-class>veri</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cha</servlet-name>
        <servlet-class>cha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compose</servlet-name>
        <servlet-class>compose</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>del</servlet-name>
        <servlet-class>del</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>in</servlet-name>
        <servlet-class>in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>openin</servlet-name>
        <servlet-class>openin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>draft</servlet-name>
        <servlet-class>draft</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sent</servlet-name>
        <servlet-class>sent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>openinn</servlet-name>
        <servlet-class>openinn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>open</servlet-name>
        <servlet-class>open</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>opens</servlet-name>
        <servlet-class>opens</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>opend</servlet-name>
        <servlet-class>opend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deld</servlet-name>
        <servlet-class>deld</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deli</servlet-name>
        <servlet-class>deli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trash</servlet-name>
        <servlet-class>trash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>opent</servlet-name>
        <servlet-class>opent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delt</servlet-name>
        <servlet-class>delt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>veri</servlet-name>
        <url-pattern>/veri</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cha</servlet-name>
        <url-pattern>/cha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compose</servlet-name>
        <url-pattern>/compose</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>del</servlet-name>
        <url-pattern>/del</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>in</servlet-name>
        <url-pattern>/in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>draft</servlet-name>
        <url-pattern>/draft</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sent</servlet-name>
        <url-pattern>/sent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>openinn</servlet-name>
        <url-pattern>/openinn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>open</servlet-name>
        <url-pattern>/open</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>opens</servlet-name>
        <url-pattern>/opens</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>opend</servlet-name>
        <url-pattern>/opend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deld</servlet-name>
        <url-pattern>/deld</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deli</servlet-name>
        <url-pattern>/deli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trash</servlet-name>
        <url-pattern>/trash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>opent</servlet-name>
        <url-pattern>/opent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delt</servlet-name>
        <url-pattern>/delt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
